#home {
	width: 100vw;
	height: 100vh;
	height: -webkit-fill-available;
	margin: 0;
	padding: 0;
	justify-content: flex-start;

	video,
	img {
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;
		z-index: 10;
		object-fit: cover;
	}

	.info {
		z-index: 50;
		padding: 0;
	}

	.home-heading {
		padding-top: 130px;
	}

	h1 {
		letter-spacing: 0rem;
		font-size: 4rem;
		color: white;
	}

	h5 {
		font-size: 1.7rem;
		color: white;
		font-family: 'FSoda-Regular';
	}

	@include media-breakpoint-down(sm) {

		.home-heading {
			padding: 120px 10px 0 10px;
		}

		h1 {
			font-size: 3.25rem;
		}

		h5 {
			font-size: 1.5rem;
		}
	}

}

#brand h2 {
	margin-bottom: 0;
}