// Footer
footer.footer
  .container
    .row
      .col-lg-3.text-lg-left.stars
        h4.golden-text THE STARS
        a(href='blood-orange.html') Blood Orange
        br
        a(href='pink-lemonade.html') Pink Lemonade
        br
        a(href='passion-fruit.html') Passionfruit
        br
        a(href='ginger-beer.html') Ginger Beer
        br
        a(href='lemon.html') Lemon
        br
        br
      .col-lg-3.text-lg-left.mb-4.stars
        h4.golden-text MORE INFO
        a(href='#stores') Stockists
        br
        a(href='./terms-and-conditions.html') Terms &amp; Conditions
        br
        a(href='./returns.html') Returns
        br
        a(href='./privacy-and-cookies.html') Privacy &amp; Cookies
        br
        a.golden-text(href='https://www.facebook.com/famoussoda.com.au/' target='_blank') Facebook
        br
        a.golden-text(href='http://instagram.com/famoussodaco' target='_blank') Instagram
      .col-lg-3.text-lg-left.mb-4
        h4.golden-text CONTACT US
        strong Orders &amp; Stockist Enquiries
        br
        a(href='mailto:info@famoussodaco.com') info@famoussodaco.com
        br
        a(href='tel:+61424353512') +61 424 353 512
        br
        strong Customer Support
        br
        a(href='mailto:support@famoussodaco.com') support@famoussodaco.com
        br
        strong Marketing Material
        br
        a(href='mailto:robbie@famoussodaco.com') robbie@famoussodaco.com
      .col-lg-3.text-lg-left.mb-4
        img.footer-logo(src='assets/images/logo.png')
        strong ©2020 Famous Soda Co
        br
        | ABN: 15 622 616 442
        br
        | 36 Glenshee Place, Glenhaven
        br
        | NSW Australia 2156
        br
        br
        img(src='assets/images/menu-payment-methods.svg')
// used to color fontawesome css: fill:url(#rg)
svg(width='0' height='0')
radialgradient#rg(r='150%' cx='30%' cy='107%')
  stop(stop-color='#614127' offset='0')
  stop(stop-color='#72512d' offset='0.05')
  stop(stop-color='#eacc8e' offset='0.45')
  stop(stop-color='#886735' offset='0.6')
  stop(stop-color='#614127' offset='0.9')