// robbie track
script(async='' src='https://www.googletagmanager.com/gtag/js?id=UA-165238076-1')
script.
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-165238076-1');
// bebbo track
script(async='' src='https://www.googletagmanager.com/gtag/js?id=UA-160730114-2')
script.
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-160730114-2');