meta(charset='utf-8')
meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
meta(name='description' content='')
meta(name='author' content='')
title= pageTitle
link(rel='icon' type='image/x-icon' href='favicon.ico')
script(src='https://use.fontawesome.com/releases/v5.12.1/js/all.js' crossorigin='anonymous')
link(href='css/styles.min.css' rel='stylesheet')
<!-- Start Facebook Pixel Code -->
script(type='text/javascript') (function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[7]='MMERGE7';ftypes[7]='text';}(jQuery));var $mcj = jQuery.noConflict(true);
script(type='text/javascript') !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;t.src=v;s=b.getElementsByTagName(e)[0]; s.parentNode.insertBefore(t,s)}(window, document,'script','https://connect.facebook.net/en_US/fbevents.js');fbq('init', '2805297326240942');fbq('track', 'PageView');
noscript
    img(height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=2805297326240942&ev=PageView&noscript=1")
<!-- End Facebook Pixel Code -->