#sideMenu
  a.closebtn.golden-text &times;
  a(href='index.html').stars HOME
  a.stars THE STARS
  a(href='blood-orange.html') Blood Orange
  a(href='pink-lemonade.html') Pink Lemonade
  a(href='passion-fruit.html') Passionfruit
  a(href='lemon.html') Lemon
  a(href='ginger-beer.html') Ginger Beer
  br
  //- a(href='index.html').stars HOME
  //- a(href='famous-vip.html') Famous Soda Society

// Navigation
nav#mainNav.navbar.fixed-top
  .container   
    button#openMenu.navbar-toggler.menu-button(type='button')
      svg.svg-inline--fa.fa-bars.fa-w-14(aria-hidden='true' focusable='false' data-prefix='fas' data-icon='bars' role='img' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 300 420' preserveAspectRatio="none" xml:space="preserve")
        linearGradient#navbar-golden-1(gradientUnits="userSpaceOnUse" x1="-78.377" y1="671.7497" x2="-64.263" y2="671.7497" gradientTransform="matrix(32.0248 0 0 -32.0248 2513.0088 21541.5)")
          stop(offset="0" style="stop-color:#774619")
          stop(offset="0.0662" style="stop-color:#B28727")
          stop(offset="0.0985" style="stop-color:#B28727")
          stop(offset="0.188" style="stop-color:#F6D28B")
          stop(offset="0.194" style="stop-color:#F5D18A")
          stop(offset="0.2726" style="stop-color:#E9CA7A")
          stop(offset="0.3361" style="stop-color:#E5C775")
          stop(offset="0.4442" style="stop-color:#996C24")
          stop(offset="0.4443" style="stop-color:#996C24")
          stop(offset="0.4804" style="stop-color:#B68B3D")
          stop(offset="0.5157" style="stop-color:#CAA04F")
          stop(offset="0.5497" style="stop-color:#D7AE5A")
          stop(offset="0.5807" style="stop-color:#DBB25E")
          stop(offset="0.5842" style="stop-color:#D6AB59")
          stop(offset="0.6036" style="stop-color:#BF8943")
          stop(offset="0.622" style="stop-color:#AE7132")
          stop(offset="0.639" style="stop-color:#A46228")
          stop(offset="0.653" style="stop-color:#A05D25")
          stop(offset="0.6719" style="stop-color:#A5642D")
          stop(offset="0.701" style="stop-color:#B27842")
          stop(offset="0.7368" style="stop-color:#C89966")
          stop(offset="0.7774" style="stop-color:#E6C596")
          stop(offset="0.7952" style="stop-color:#F5DBAE")
          stop(offset="0.8468" style="stop-color:#DEB763")
          stop(offset="0.8861" style="stop-color:#B38D42")
          stop(offset="0.9116" style="stop-color:#B28C42")
          stop(offset="0.9134" style="stop-color:#B48E41")
          stop(offset="0.9237" style="stop-color:#BB933C")
          stop(offset="0.9509" style="stop-color:#BD943B")
          stop(offset="1" style="stop-color:#774619")
        polyline(style="fill:url(#navbar-golden-2);" points="3,4.446 455,4.446 455,53.253 3,53.253")
        linearGradient#navbar-golden-2(gradientUnits="userSpaceOnUse" x1="-78.377" y1="666.1011" x2="-64.263" y2="666.1011" gradientTransform="matrix(32.0248 0 0 -32.0248 2513.0088 21553.3477)")
          stop(offset="0" style="stop-color:#774619")
          stop(offset="0.0662" style="stop-color:#B28727")
          stop(offset="0.0985" style="stop-color:#B28727")
          stop(offset="0.188" style="stop-color:#F6D28B")
          stop(offset="0.194" style="stop-color:#F5D18A")
          stop(offset="0.2726" style="stop-color:#E9CA7A")
          stop(offset="0.3361" style="stop-color:#E5C775")
          stop(offset="0.4442" style="stop-color:#996C24")
          stop(offset="0.4443" style="stop-color:#996C24")
          stop(offset="0.4804" style="stop-color:#B68B3D")
          stop(offset="0.5157" style="stop-color:#CAA04F")
          stop(offset="0.5497" style="stop-color:#D7AE5A")
          stop(offset="0.5807" style="stop-color:#DBB25E")
          stop(offset="0.5842" style="stop-color:#D6AB59")
          stop(offset="0.6036" style="stop-color:#BF8943")
          stop(offset="0.622" style="stop-color:#AE7132")
          stop(offset="0.639" style="stop-color:#A46228")
          stop(offset="0.653" style="stop-color:#A05D25")
          stop(offset="0.6719" style="stop-color:#A5642D")
          stop(offset="0.701" style="stop-color:#B27842")
          stop(offset="0.7368" style="stop-color:#C89966")
          stop(offset="0.7774" style="stop-color:#E6C596")
          stop(offset="0.7952" style="stop-color:#F5DBAE")
          stop(offset="0.8468" style="stop-color:#DEB763")
          stop(offset="0.8861" style="stop-color:#B38D42")
          stop(offset="0.9116" style="stop-color:#B28C42")
          stop(offset="0.9134" style="stop-color:#B48E41")
          stop(offset="0.9237" style="stop-color:#BB933C")
          stop(offset="0.9509" style="stop-color:#BD943B")
          stop(offset="1" style="stop-color:#774619")
        polyline(style="fill:url(#navbar-golden-2);" points="3,197.187 455,197.187 455,245.994 3,245.994")
        linearGradient#navbar-golden-3(gradientUnits="userSpaceOnUse" x1="-78.377" y1="660.4525" x2="-64.263" y2="660.4525" gradientTransform="matrix(32.0248 0 0 -32.0248 2513.0088 21565.1934)")
          stop(offset="0" style="stop-color:#774619")
          stop(offset="0.0662" style="stop-color:#B28727")
          stop(offset="0.0985" style="stop-color:#B28727")
          stop(offset="0.188" style="stop-color:#F6D28B")
          stop(offset="0.194" style="stop-color:#F5D18A")
          stop(offset="0.2726" style="stop-color:#E9CA7A")
          stop(offset="0.3361" style="stop-color:#E5C775")
          stop(offset="0.4442" style="stop-color:#996C24")
          stop(offset="0.4443" style="stop-color:#996C24")
          stop(offset="0.4804" style="stop-color:#B68B3D")
          stop(offset="0.5157" style="stop-color:#CAA04F")
          stop(offset="0.5497" style="stop-color:#D7AE5A")
          stop(offset="0.5807" style="stop-color:#DBB25E")
          stop(offset="0.5842" style="stop-color:#D6AB59")
          stop(offset="0.6036" style="stop-color:#BF8943")
          stop(offset="0.622" style="stop-color:#AE7132")
          stop(offset="0.639" style="stop-color:#A46228")
          stop(offset="0.653" style="stop-color:#A05D25")
          stop(offset="0.6719" style="stop-color:#A5642D")
          stop(offset="0.701" style="stop-color:#B27842")
          stop(offset="0.7368" style="stop-color:#C89966")
          stop(offset="0.7774" style="stop-color:#E6C596")
          stop(offset="0.7952" style="stop-color:#F5DBAE")
          stop(offset="0.8468" style="stop-color:#DEB763")
          stop(offset="0.8861" style="stop-color:#B38D42")
          stop(offset="0.9116" style="stop-color:#B28C42")
          stop(offset="0.9134" style="stop-color:#B48E41")
          stop(offset="0.9237" style="stop-color:#BB933C")
          stop(offset="0.9509" style="stop-color:#BD943B")
          stop(offset="1" style="stop-color:#774619")
        polyline(style="fill:url(#navbar-golden-3);" points="3,389.93 455,389.93 455,438.737 3,438.737")
    a.navbar-brand.js-scroll-trigger(href='index.html#page-top')
      img(src="assets/images/logo.png")
    button#openCart.navbar-toggler.navbar-toggler-right(type='button')
      span.itemsInCart
      img(src="assets/images/shopping-star-off.gif" style='zoom:1.5')