#sideShop
  a.closebtn.cart-close.golden-text &times;
  div.itemLineCart CART
  div#cartItems
  div#cartTemplate
    .itemLine.hidden
      .row.no-gutters.product
        .col #{name}
        .col-1.remove &times;
      .cart-menu
        .row
          .col.item 1 item
          .col.price $4.99
        .tool.row.no-gutters
          .col-2
            button.rem(type='button') -
          .col-8.total 1
          .col-2 
            button.add(type="button") +
      .spacer
  div#cartItems
  div.subTotal
    h2
      | Subtotal: &nbsp; &nbsp; &nbsp; 
      span.amount
    .action-button
      button.btn-gold-button#goToShopify
        span.btn-gold CHECK OUT