#sideShop
  div.cart-title CART
    a.closebtn.golden-text-x &times;
  div.line-bottom
  div#cartItems
  div#cartTemplate
    .itemLine.hidden
      .row.no-gutters.product.mt-3.mb-3
        .col-3.align-center
          img.cart-image(src="assets/images/pink-lemonade-cart.png")
        .col-9.cart-menu
          .row.no-gutters.justify-space-between
            div.span.bold.title Blood Orange
            div.bottle-cross.remove &times;            
          .row.no-gutters.price $44.99
          .row.no-gutters 12 x 330ml bottles
          .tool.row.no-gutters
            .col-3.align-left
              span.bold QTY
            .col-1.align-center
              button.rem(type='button') -
            .col-2.align-center
              span.bold.total 1
            .col-1.align-center
              button.add(type="button") +
            .col-3
      .line-bottom
  .itemLine.subTotal.line-bottom
    .row.no-gutters.product.mt-2.mb-2
      .col-3.align-center        
      .col
        span.bold Total
      .col.align-right.mr-4
        span.amount $44.99  
  div.mt-4
    .row.align-items-center
      .col-lg-6.col-sm-12.mb-3
        .action-button
          img(src='assets/images/menu-payment-methods.svg')
      .col-lg-6.col-sm-12
        .action-button
          button.btn-gold-button#goToShopify
            span.btn-gold CHECK OUT
      