- var pageTitle = 'Famous Soda Co'
doctype html
head
  include ../pug-includes/head.pug
body#page-top
  #bubblesContainer
  #wrap
    include ../pug-includes/menu.pug
    include ../pug-includes/shop.pug
    // First Blocks
    section#terms.soda-section.bg-white.aligned
      .container
        .row
          .col-12.info
            h1(style='font-family:"Zwizz ExtraBold"') RETURNS POLICY
            div.text-justify.
              <h5 class="mt-4">14 DAYS MONEY BACK GUARENTEE ON ALL UNOPENED ITEMS:</h5>
              <p>
              Famous Soda Co. will refund any unopened items that you are not completely happy with as long as it is within 14 days of receipt and the product packaging is still in its original condition.
              <br />
              • Our Returns Policy forms part of and must be read in conjunction with our Terms and Conditions. We reserve the right to change this Returns Policy at any time.<br />
              • Payment will be credited to your original method of payment and you will be notified by email when your refund has been processed.<br />
              • Any returns after 14 days will not be refunded.<br />
              • The customer is responsible for paying postage. We are not obliged to issue refunds for any opened products. Refunds will be issued to the full value of the product (excluding postage).<br />
              To receive a 100% refund the item must be;<br />
              • Returned within 14 days of purchase<br />
              • Unused and in its original packaging<br />
              • Packaging must be in the original condition<br />
              • Purchased directly from our store<br />
              </p>
              <h5 class="mt-4">Returns process</h5>
              <p>
              To return your product please email info@famoussodaco.com with your order number and reason for return.
              <br />
              If you are returning the product within 14 days then you will be refunded the total amount of the product as long as there is no damage to the packaging and the product is unopened.
              <br />
              Famous Soda Co. will not cover the cost of return shipping unless explicitly agreed prior to shipment or there has been an error on our behalf in which case we will cover the cost of return shipping.
              <br />
              Please remember to ask you post office for a proof of posting certificate and keep it safe for your records. Without this we cannot refund any money if we do not receive your parcel.
              </p>
              <h5 class="mt-4">Can I return a sale item?</h5>
              <p>
              Yes, you can return sale items unless stated otherwise (subject to the Australian Consumer Law). We will always let you know when a particular sale or promotion excludes returns.
              </p>
              <h5 class="mt-4">How long will it take to process a return?</h5>
              <p>
              Once your return has been received at our Warehouse, your return request will be processed within 1 - 3 business days, please ensure you have alerted us of the return to ensure you are within 14 days to receive 100% refund by emailing info@famoussodaco.com with your order number and reason for the return.
              <br />
              Once processed, your financial institution can take 3 - 5 business days to process the funds back to your account. Please also allow a further 2 - 4 business days for redelivery
              </p>
              <h5 class="mt-4">Do I have to pay for return shipping?</h5>
              <p>
              Return shipping must be paid by you unless you are returning a product due to an error on our behalf. In the event we make an error, then the return shipping will be 100% covered by Famous Soda Co.
              </p>
              <br />
              <h5 class="mt-4">SHIPPING</h5>
              <h5 class="mt-4">Delivery costs</h5>
              <p>
              Famous Soda Co. is only available for shipping is available to all regions within Australia except Western Australia and the Northern Territory Shipping costs can be calculated at the online checkout.
              </p>
              <h5 class="mt-4">Delivery time</h5>
              <p>
              Order’s will typically take 2-5 business days to arrive.<br />
              Changing your delivery address<br />
              We are not able to change your delivery address once your order has been placed so please ensure that you type in your address correctly.
              </p>
    include ../pug-includes/footer.pug
  // Bootstrap core JS
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js')
  script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js')
  script(src='https://sdks.shopifycdn.com/buy-button/1.0.0/buybutton.js')
  script(src='/js/scripts.min.js')
  include ../pug-includes/google-analytics.pug